body,html,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	padding:0;
	margin: 0;
}

// Container

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

img.custom-logo {
    display: none;
}

//Cores
$black: #383838;
$white: #ffffff;

.main-title-entry{
	font-size: 3.125rem;
	color: $black;
	margin-bottom: 100px;
}

// Paginação

span.page-numbers.current {
	display: inline-block;
	padding: 10px 15px;
	margin: 0 2px 0 0;
	background: #C7C7C7;
	color: $black;
	line-height: 1;
	text-decoration: none;
	font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
	background: #1F1F1F;
}

a.page-numbers{
	display: inline-block;
	padding: 10px 15px;
	margin: 0 2px 0 0;
	background: $black;
	color: $white;
	line-height: 1;
	text-decoration: none;
	font-weight: 600;
}

// Texto selecionado

::selection {
    background: $black;
    color: $white;
}

