.main-footer{
	bottom: 30px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-self: end;

	li{
		display: inline-block
	}

	a{
		color: $white;
		margin-right: 20px;
		opacity: .7;
		transition: .3s ease;

		&:hover{
			opacity: 1;
		}
	}
}

.main-footer.footer-dois{

	background: #E6E6E6;	
	padding: 40px 0;


	margin: 100px 0 0 0;
	a{
		color: $black;
	}
}


@media only screen and (max-width: 900px) {

.main-footer.footer-dois{

	margin: 100px 0 0 0;
	a{
		font-size: 12px;
	}
}

.main-footer{

	a{
		font-size: 12px;
	}
}



}