
//main-content
.main-content{


	.container{
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	.main-footer{
		margin: auto auto 40px auto;
	}
}


// Call To Action

.callHome{
	
	margin-top: 10vh;
	flex: 1 0 auto;

	h1{
	font-size: 2.5rem;
	color: $white;
	}
}

.main-btn{
	background: $green;
	color: $black;
	width: 150px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	margin-top: 3.125rem;
	display: inline-block;
	max-width: 100%;
	position: absolute;
	bottom: -25px;
	box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 1200px) {
	.callHome{
		h1{
			font-size: 2rem;
		}
	}
}

@media only screen and (max-width: 900px) {
	.callHome{
		h1{
			font-size: 1.2rem;
			text-align: center;
			font-weight: normal;
		}
	}

	.main-btn{
		margin-top: 2rem;
	}

	.callHome{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.main-content{
		.main-footer{
			display: none;
		}
	}
}

