.main-project{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;

	.left{
		flex: 1 1 350px;
		margin-right: 50px;

		h2{
			font-size: 3.125rem;
			color: $black;
			font-weight: 700;
			text-transform: uppercase;
			width: 100%;

		}

		span{
			color: #8E8E8E;
			text-transform: uppercase;
			margin: 30px 0;
			display: block;
		}
	}

	.right{
		flex: 3 1 600px;
		overflow: hidden;
		max-width: 100%;
		max-height: 400px;

		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
			transition: .3s ease;

			&:hover{
				transform: scale(1.3);
			}
		}
	}
}

/*
ESTILOS PARA A SINGLE DO PROJETO
*/

.portfolio-single{
	h1{
		font-size: 3.165rem;
		color: $black;
		margin-bottom: 100px;
		padding: 0;
	}

	p{
		font-size: 18px;
		color: $black;
		line-height: 1.7rem;
	}
}


@media only screen and (max-width: 900px) {
	
	.main-project{

	.left{
		flex: 1 1 300px;
		margin-right: 50px;

		h2{
			font-size: 2rem;

		}
	}
	}

	.portfolio-single{
		h1{
			font-size: 2rem;
			margin-bottom: 50px;
		}
	}
}

// Portfolio Home

.portfolio-list-home{
	display: flex;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-bottom: 50px;

	.item{
		flex: 1 1 400px;
		margin-right: 20px;

		img{
			max-width: 100%;
			height: auto;
			display: block;
			margin-bottom: 20px;
		}

		h2{
			font-weight: bold;
			font-size: 26px;
			color: $black;
			margin-bottom: 40px;
		}
	}
}

	.mais-trabalhos a{
	background: $roxo;
	color: $white;
	padding: 0 30px;
	height: 50px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
	display: inline-block;
	margin-bottom: 100px;
	}
