.servicos{
	margin-bottom: 50px;

	.item{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 50px;
		border-bottom: 2px solid #e5e5e5;

		header{
			width: 100%;
			display: block;
			margin-bottom: 50px;

			h2{
				font-size: 32px;
				color: $black;
			}

			p{
				font-size: 18px;
				color: #777777;
			}
		}

		.left{
			flex: 1 1 200px;
			color: $black;
			margin: 0 30px 50px 0;

		}

		.right{
			flex: 4 1 700px;
			display: flex;
			flex-wrap: wrap;

			ul{
				flex: 1 1 350px;
				margin: 0 50px 30px 20px;

				li{
					list-style-type: square;
					margin-bottom: 10px;
					font-size: 20px;
				}
			}

			p{
				flex: 3 1 600px;
				font-size: 20px;
				margin: 0 0 50px 0;
			}
		}

	}


}

.call-to-action{

	margin: 150px 0;

	h1{
		font-size: 1.875rem;
		color: $black;
		margin-bottom: 30px;
	}
	
	a{
		background: $black;
		color: $white;
		padding: 10px 20px;
		margin-bottom: 100px;
		display: table;
	}
}

.servicos .left a:last-child{
	margin-bottom:0;
}

// Depoimentos

.depoimentos{
	.item{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.left{
			flex: 1;
			margin-right: 30px;

			img{
				margin-bottom: 20px;
			}
		}

		.right{
			flex: 5;

			a{
				color: #777;
				margin: 15px 0;
				display: table;
				font-weight: bold;
				text-transform: uppercase;
			}

			p{
				font-size: 18px;
				color: $black;
			}
		}
	}
}

.slide{
	position: relative;
	overflow: hidden;
}

.slide > *{
	width: 100%;
	position: absolute;
	opacity: 0;
	transition: .3s;
}

.slide > .active{
	position: relative;
	opacity: 1;

}

@media only screen and (max-width: 900px){
.servicos{
	margin-bottom: 50px;

	.item{
		margin-bottom: 100px;
	}
}

}
