.servicos{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;

	.left{
		flex: 1;
		margin-right: 30px;

		a{
			display: inline-block;
			background: $black;
			color: $white;
			width: 200px;
			padding: 20px 0;
			text-align: center;
			border-bottom: 1px solid $white;
			transition: all .3s ease;
			

			&:hover{
				background: #E3E3E3;
				color: $black;

			}
		}
	}

	.right{
		flex: 10 1 600px;
		background: #E3E3E3;
		padding: 30px;
		max-height: 240px;
		overflow-y: auto;
	}

}

.call-to-action{

	h1{
		font-size: 1.875rem;
		color: $black;
		margin-bottom: 30px;
	}
	
	a{
		background: $black;
		color: $white;
		padding: 10px 20px;
		margin-bottom: 100px;
		display: table;
	}
}

.servicos .left a:last-child{
	margin-bottom:0;
}

// Depoimentos

.depoimentos{
	.item{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.left{
			flex: 1;
			margin-right: 30px
		}

		.right{
			flex: 5;

			a{
				color: #777;
				margin: 15px 0;
				display: table;
				font-weight: bold;
			}

			p{
				font-size: 18px;
				color: $black;
			}
		}
	}
}
